:root {
    --gray: #f1f4f5;
    --navy_blue: #1E3A8A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.body-container {
    background-image: linear-gradient(to bottom, #ADD8E6 58%, var(--navy_blue) 58%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-block: 90px;
    margin: 0;
}

.wrapper {
    width: 60vw;
    position: relative;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    height: 100%;
    background-color: white;
    gap: 50px;
    padding-block: 135px;
}

.about_me {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.brief {
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--navy_blue);
}

.main-information {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding-top: 190px;
    padding-inline: 50px;
    padding-bottom: 50px;
    gap: 20px;
    z-index: 1;
}

.personal-information {
    display: flex;
    gap: 75px;
}

.profile-image {
    width: 451px;
    height: 451px;
    object-fit: cover;
    margin-top: 0;
    padding-top: 0;
}

.greeting {
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    position: relative;
    line-height: 90px;
}

.social-information {
    color: var(--navy_blue);
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    right: 180px;
}

.specification-title {
    color: var(--navy_blue);
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.specification-with-social-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.icons {
    display: flex;
    gap: 35px;
}

.experience-education {
    display: grid;
    grid-template-columns: 2fr 1fr 0.01fr;
    gap: 60px;
}

.projects {
    display: grid;
    grid-template-columns: 2fr 1.5fr 0.01fr;
    gap: 60px;
}

.experience,
.education {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.project {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.title {
    font-size: 24px;
    color: var(--navy_blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.entry {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.entries {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.year {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 13px;
}

.gpa {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.job-position {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.company {
    color: var(--navy_blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.institution {
    color: var(--navy_blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.school {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #393939;
    width: 312px;
    font-size: 13px;
}

.experience-details {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.education-details {
    display: flex;
    flex-direction: column;
}

.personal-image {
    position: absolute;
    top: 0;
    right: 0px;
    top: 0px;
}

.js_certification_link {
    color: black;
}

@media (max-width: 1300px) {
    .wrapper {
        width: 90%;
    }

    .container {
        padding-block: 244px;
    }

    .brief {
        width: 100%;
    }

    .personal-image {
        right: 16px;
    }

    .personal-information {
        flex-direction: column;
        gap: 25px;
    }

    .greeting {
        font-size: 50px;
        line-height: 45px;
    }

    .social-information {
        font-size: 9px;
        flex-direction: column;
        position: unset;
    }

    .specification-with-social-icons {
        flex-direction: column;
    }

    .experience-education {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
        justify-content: start;
    }

    .school {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        color: #8B8B8B;
        width: auto;
    }

    .profile-image {
        width: 200px;
        height: auto;
    }

    .new-line {
        display: none;
    }

    .main-information {
        padding-top: 50px;
    }
}